@import url("https://fonts.googleapis.com/css?family=PT+Mono");

*,
*::before,
*::after {
  box-sizing: inherit;
}

.box {
  width: 2%;
  min-width: 80px;
  display: block;
  height: 15px;
  position: relative;
  border-radius: 5px;
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  margin-bottom: 20px;
  padding: 15px 25px 0 40px;
  box-shadow: 1px 2px 1px -1px #777;
  transition: background 200ms ease-in-out;
}

.shadow-box {
  position: relative;
}
.shadow-box:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 13px;
  right: 7px;
  width: 75%;
  top: 0;
  box-shadow: 0 15px 9px lightgrey;
  transform: rotate(4deg);
  transition: all 200ms ease-in-out;
}

.box:hover {
  background: lightgrey;
}

.shadow-box:hover::before {
  transform: rotate(0deg);
  bottom: 20px;
  z-index: -10;
}

.circle {
  position: absolute;
  top: 14px;
  left: 15px;
  border-radius: 50%;
  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.5), inset 0 0 0 25px #181818;
  width: 20px;
  height: 20px;
  display: inline-block;
}
