body{
  background-image: url("img/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}


#container {
    position: relative;
}

#ball {
    width: 20px;
    height: 20px;
    background-color: #ffff00;
    position: fixed;
    top: 20px;
    left: 52.5%;
    border-radius: 50%;
}

#rod1, #rod2 {
    width: 200px;
    height: 20px;
    position: fixed;
    left: 50%;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
}

#rod1 {
    background-color: #0ff;
    color: #000;
    top: 0px;
}

#rod2 {
    background-color: #0ff;
    color: #000;
    bottom: 0px;
}
